@font-face {
    font-family: 'roman';
    src: url('Fairview_Regular.otf');
}
 #myCanvas{
 	position: fixed;
	display: none;
	z-index:0;
	width:auto;
	height: auto;
	top:0;

	
}
#loader{
	position: fixed;
	display: block;
	top:0;
	width:100vw;
	height:100vh;
	background: rgba(0,0,0,.8);
	z-index: 10;
	
}
#repairMan{
	z-index: 10;
	position: fixed;
	margin-top: -50%;
	margin-left: 130%;
}
body{
	height: 100vh;
	max-height: 100vh;
	margin:0;
}
div{
	position: absolute;
	width: 500px;
	display: block;
	position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
	width: 500px;
	margin: auto;
	font-family: 'roman';
	font-size: 100px;
	text-align: center;
	margin-bottom: 20px;
	position: fixed;
		pointer-events: none;
	margin-top: -100px;
animation: wiggle .01s infinite;
}


#h2{
	animation: none;


}
input{
	padding: 10px;
	width: 500px;
	margin-bottom: 30px;
	pointer-events: none;
	z-index: 0;
}
ul{
	width: 320px;
	margin: 0 auto;
	padding-left: 0;
}
#ui{
	margin-top: 20%;
	z-index: 0;
}
li{
	display: inline !important;
	list-style-type: none;
}
button{
	padding: 5px;
	width: 150px;
}
@-ms-keyframes wiggle
{0%{-ms-transform:rotate(3deg);}
50%{-ms-transform:rotate(-3deg);}
100%{-ms-transform:rotate(3deg);}}

@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}

@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-3deg);}100%{-webkit-transform:rotate(3deg);}}

@keyframes wiggle{
	0%{transform:rotate(3deg);
		
	}
	50%{transform:rotate(-3deg);}
	100%{transform:rotate(3deg);
		}}


 	.title>span:nth-child(1){
		color: #0266C8;
 	}
	.title>span:nth-child(2){
		color: #F90101;
	}
	.title>span:nth-child(3){
		color: #F2B50F;
	}
	.title>span:nth-child(4){
		color: #0266C8;
	}
	.title>span:nth-child(5){
		color: #00933B;
	}
	.title>span:nth-child(6){
		color:#F90101;
	}
	.title>span:nth-child(7){
		color:#F2B50F;
	}

	#title2{
		display:none;
		font-size: 0;
		z-index: 9;
	}

